<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
  <!-- 
	 <context:annotation-config />

    <bean id="citiesBusiness" class="com.margoConseil.rst.business.impl.CitiesBusinessImpl" />
     -->
     <context:component-scan base-package="com.margoConseil.rst" />
   	 <import resource="db-h2-config.xml"/>
   	 <!--  
	 <import resource="spring-bean-config.xml"/>
	 -->
 </beans>